# Exclude everything
*

# Base requirements
!config.py
!pyproject.toml
!uv.lock
!catcher/pyproject.toml

# Compactor
!compactor/
compactor/README.md
compactor/Dockerfile


# Never include these anywhere
**/.DS_Store
**/__pycache__
**/*.py[cod]